# Thanki Disha Bhagvanjibhai [216270307024]

# Practical 10

# 1. Write a Pandas program to find and drop the missing values from the given dataset

In [1]:
# importing files 
import pandas as pd

# reading csv file
data = pd.read_csv('/kaggle/input/titanic-dataset/Titanic-Dataset.csv')

# droping rows with missing valuess

updated_data = data.dropna(axis=0)

print("SHAPE BEFORE USING DROPNA() FUNCTION : ",data.shape)
print("SHAPE AFTER USING DROPNA() FUNCTION : ",updated_data.shape)

updated_data.head()

SHAPE BEFORE USING DROPNA() FUNCTION :  (891, 12)
SHAPE AFTER USING DROPNA() FUNCTION :  (183, 12)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S

# 2. Write a pandas program to remove the duplicates from the given dataset.

In [2]:
# importing files
import pandas as pd

# reading csv file
wrong_data = pd.read_csv('../input/wrong-data/wrong_data.csv')

# removing duplicates
wrong_data.drop_duplicates(inplace = True)

print("SHAPE BEFORE USING DROP_DUPLICATES() FUNCTION : ",wrong_data.shape)
print("SHAPE AFTER USING DROP_DUPLICATES() FUNCTION : ",wrong_data.shape)

wrong_data.head()

SHAPE BEFORE USING DROP_DUPLICATES() FUNCTION :  (31, 5)
SHAPE AFTER USING DROP_DUPLICATES() FUNCTION :  (31, 5)

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0